.login{
  margin: 2rem;
}
.login-header{
  padding: 2rem 0 1rem 0;
  text-align: center;
}
.login-logo{
  width: 3rem;
}
.login-form{
  width: 300px;
  margin: 0 auto;
}
.login-form-header{
  font-size: 1.4rem;
  text-align: center;
  padding: .5rem;
  color: #666;
}
.login-form-body{
  padding: 1.5rem;
  background: white;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.login-form-input{
  display: block;
  position: relative;
  margin-bottom: 1.6rem;
  width: 100%;
  font-size: 0;
  & span{
    font-size: .8rem;
    color: #999;
    position: absolute;
    top: 30%;
    left: 14px;
    line-height: 0;
  }
  & input{
    margin: 0;
    padding: .4rem 1rem .4rem 2rem;
    width: 250px;
    color: #666;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
}
.login-btn{
  padding: 7px;
  width: 100%;
  color: white;
  border-radius: 3px;
  background: linear-gradient(-180deg, #6caace 0%, #5ab1ef 90%);
  cursor: pointer;
}
.create-account{
  display: flex;
  align-items: center;
  padding: .7rem 1.5rem;
  font-size: .9rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  & span{
    color: #2d89ef;
    cursor: pointer;
  }
  & a{
    margin-left: 1rem;
    cursor: pointer;
    color: #666;
    &:hover{
      color: #333;
    }
  }
}
