.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background: white;
  border: 1px solid #ddd;
}
.header-user{
  display: flex;
}
.header-user-options{
  padding: .4rem 0;
  & a{
    display: block;
    padding: .3rem 1rem;
    text-decoration: none;
    color: #777;
    cursor: pointer;
    &:link, &:visited{
      color: red;
    }
    &:hover{
      background: #f8f9fa;
    }
  }
  & div{
    border-bottom: 1px solid #eee;
    margin: .5rem 0;
  }
}
.header-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  & img{
    height: auto;
    width: 2rem;
  }
}
.header-name{
  margin-left: .5rem;
}
.header-login{
  margin-right: .5rem;
  padding: .3rem .7rem;
  border: 1px solid #2d89ef;
  border-radius: 3px;
  color: #2d89ef;
  font-size: .9rem;
  cursor: pointer;
}
.header-register{
  padding: .3rem .7rem;
  border: 1px solid #2d89ef;
  border-radius: 3px;
  background: #2d89ef;
  color: white;
  font-size: .9rem;
  cursor: pointer;
}
